<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <title>Lobby</title>
    <link rel="stylesheet" href="/css/lobby.css">
</head>

<body>
    <div id="main_container">
        <%- include('partials/title') %>
            <div id="controls_container">
                <section id="r1">
                    <div id="left_container">
                        <div id="qr_info">
                            <div id="qr_container">
                                <img src="images/qr-code.png" alt="qrcode" id="qrcode_img">
                            </div>
                            <span id="url">
                                https://the-phishermens-joust.onrender.com/
                            </span>
                        </div>
                        <section id="start_restart_controls">
                            <button class="button" id="start-game">
                                Start Game
                            </button>
                            <button class="button" id="restart-game">
                                Restart Game
                            </button>
                        </section>
                    </div>
                    <div id="right_top_container">
                        <ul id="player_ul">
                            <li id="header_li">
                                <div class="player">Player</div>
                                <div class="status">Status</div>
                            </li>
                            <% players.forEach(player=>{ %>
                                <% console.log(player) %>
                                    <li id=<%='player-' + player.id; %> class = 'player-li'>
                                        <div class="player">
                                            <%= player.username %>
                                        </div>
                                        <div class="status" style=<%="color: " +player.rgb +";"%>>
                                            <%= player.status %>
                                        </div>
                                    </li>
                                    <% }) %>
                        </ul>
                    </div>
                </section>
                <footer id="r2">
                    <div id="right_bottom_container">
                        <section id="music_buttons">
                            <button class="button disable" id="pause-music">
                                Pause
                            </button>
                            <button class="button disable" id="restart-music">
                                Restart
                            </button>
                        </section>
                        <section id="music_details_slider">
                            <section id="music_labels">
                                <span class="music-label" id="music-bpm" style="padding-left: 2%;">
                                    Music Speed: <span style="color: rgb(36, 209, 134)">100%</span>
                                </span>
                                <span class="music-label" id="music-interval" style="padding-right: 2%;">
                                    Seconds to next speed change:
                                </span>
                            </section>
                            <div class="slider-container">
                                <input type="range" min="-40" max="90" value="0" class="slider" id="music-slider">
                            </div>
                        </section>
                    </div>
                </footer>
            </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lobby.js"></script>

<!-- MUSIC SCRIPTS -->
<script src="/lib/Tone.min.js"></script>
<script src="/js/music.js"></script>
<!-- END MUSIC SCRIPTS -->

</html>