<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/spectatorSS.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <title>Spectator</title>
</head>

<body>
    <div id="spectator_container">
        <h1>Leaderboard</h1>
        <section id='pad_container_leaderboard' class="border">
            <header>
                <span>Status</span>
                <span>Player</span>
            </header>
            <section id="leaderboard">
                <ol id="list_out">
                    <% players.forEach(obj=>{ %>
                        <% if(obj.status.status == 'eliminated') {%>
                            <li class="out" id = <%= "player-"+obj.id %>>
                                <span><%= obj.status.status %></span>
                                <span><%= obj.username %></span>
                            </li>
                        <% }%>  
                    <% }) %> 
                </ol>
            </section>
        </section>
        <h1>Playing</h1>
        <section id='pad_container_playing' class="border">
            <header>
                <span>Status</span>
                <span>Player</span>
            </header>
            <section id="playing">
                <ol id="list_in">
                    <% players.forEach(obj=>{ %>
                        <% if(obj.status.status !== 'eliminated') {%>
                            <li class="in" id = <%= "player-"+obj.id %>>
                                <span><%= obj.status.status || "waiting" %></span>
                                <span><%= obj.username %></span>
                            </li>
                        <% }%>  
                    <% }) %> 
                </ol>
            </section>
        </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/spectator.js"></script>
    <script src="/js/fullscreen.js"></script>
</body>

</html>